// talent-relay.scss

@import 'variables.scss';

html {
  background-color: $lighterGray;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body,
#root,
.page-wrapper {
  min-height: 100vh;
  box-sizing: border-box;
}



a {
  color: $primaryLight;
  text-decoration: none;
  transition: none;
  transition: all 0.25s ease;
  // border-bottom: solid 1px $white;
}

a:hover {
  color: $primaryLight;
  text-decoration: none;
  border-bottom: none;
}

svg {
  fill: currentColor;
  // margin: 0 1px 3px;
}

table {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $lighterGray;
}

// => header/body/footer
.page-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.content-wrapper {
  padding: 0 0 3em;
  background-color: $white;
  min-height: 100vh;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}

section {
  padding: 0 0 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title h2 {
  margin-bottom: 0.2rem;
}

.section-title p {
  margin: 0 auto;
  max-width: 38rem;
}

.section-cta {
  margin-top: 30px;
  text-align: center;
}

.landing-item {
  padding-bottom: 50px;
}

.landing-panel {
  display: flex;
  align-items: center;
}


// Section Header
// Section Header
// Section Header

h3.background {
  font-size: 1.5em;
  text-align: center;
  color: $lightText;

  margin: 30px 0 14px;

  position: relative;
  z-index: 1;

  &:before {
    border-top: 2px solid $lightGray;
    content: '';
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    background: $white;
    padding: 0 0.8rem;
  }
}

.skill-section {
  margin-bottom: 60px;

  p.sectionDescription {
    text-align: center;
    color: $lightText;
  }
}

// Section Header
// Section Header
// Section Header



// Icon
// Icon
// Icon

.react-icons {
  vertical-align: middle;
  height: 2em;
}

.icon {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11px;
  float: left;
}

.icon-block {
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.icon-label {
  padding-left: 1em;
}

.icon-wrapper {
  font-size: 15px;
  margin-bottom: 3px;
  color: $lightGray;
}

.icon-wrapper.blue {
  color: $primaryLight;
}

// Icon
// Icon
// Icon

.social-label {
  text-transform: uppercase;
  color: #b4b4b4;
  letter-spacing: 0.15em;
  text-align: center;
}

.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 1em;
  margin: 1em 0;
}



/* getstream activity */
/* getstream activity */
/* getstream activity */

.stream {
  padding: 0.667em 1em 1em;
  border: solid 1px $lightGray;
  border-radius: 7px;
  box-shadow: $box-shadow-light;
}

.stream-label {
  text-transform: uppercase;
  font-size: small;
}

.stream p {
  margin-top: 6px;
  margin-bottom: 0;
  padding-left: 0.66em;
}

.stream svg {
  margin-bottom: 3px;
  margin-right: 0.33em;
  font-size: 1.2em;
}

/* getstream activity */
/* getstream activity */
/* getstream activity */

// Profile
// Profile
// Profile

.user-container {
  min-height: 90vh;
}

.user-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
}

.user-score {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;

  .user-avatar {
    width: 40px;
    height: 40px;
  }
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $darkText;
}

.user-avatar {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: solid 1px $lightGray;
}

.user-avatar-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 28px;
  color: $lightGray;
}

.user-info p {
  margin-bottom: 0;
}

.user-name {
  font-size: 20px;
}

.user-location {
  font-size: 14px;
}

.user-profile-anchor {
  color: $lighterText;
}

// Profile
// Profile
// Profile


.url-bar .input-group-text {
  color: $lighterText;

  background-color: $white;
  border-radius: 7px;
  border-color: $lightGray;
}

// .flashit {
//   -webkit-animation: flash linear linear 300ms 3;
//   animation: flash linear 300ms 3;
// }

// @-webkit-keyframes flash {
//   0% {
//     background-color: initial;
//   }

//   50% {
//     background-color: $orange;
//   }

//   100% {
//     background-color: initial;
//   }
// }

// @keyframes flash {
//   0% {
//     background-color: initial;
//   }

//   50% {
//     background-color: $orange;
//   }

//   100% {
//     background-color: initial;
//   }
// }


.employerOnboardingForm fieldset {
  padding: 1em;
  margin-bottom: 2rem;
}

.employerOnboardingForm .form-check {
  padding-left: 0;
}

@media screen and (min-width: 700px) {
  .employerOnboardingForm fieldset {
    padding: 1em;
    margin-left: 20px;
    margin-bottom: 2em;
  }
}

/* Data grid */
.grid-left {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px 12px;
}

@media screen and (min-width: 700px) {
  .grid-left {
    grid-template-columns: auto 1fr;
  }
}


.grid-label {
  text-transform: uppercase;
  font-size: smaller;
  color: $lightText;
  background: $lighterGray;
  padding: 3px 5px 3px 9px;
  border-radius: 1px;

  text-align: right;
}

/* payment line items */
.line-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin: 0.5em 0;
}

.line-item-filler {
  border-bottom: 1px dashed $lightGray;
  display: block;
}

/* Panel */
a.panel {
  display: block;
}

.panel {
  padding: 1rem;
  // border: solid 1px $lightGray;
  border-radius: 7px;
  box-shadow: $box-shadow-medium;
  color: $darkText;
}

.panel.position {
  border-bottom-left-radius: 30px;
  padding: 0 1rem 1rem;
}

.trade-band {
  border-bottom: solid 1px $lightGray;
  margin: 0 -1rem;
  padding: 8px 1rem;
}

.panel>a {
  color: initial;
  border-bottom: solid 1px $primaryLight;
}

.user-panel {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0;
}

@media screen and (min-width: 900px) {
  .panel {
    padding: 1rem;
  }

  .user-panel {
    margin-top: 0;
    padding: 1.5rem;
    border: solid 1px $lightGray;
    border-radius: 7px;
    box-shadow: $box-shadow-light;
  }
}

// JOB DESC

.md-RichEditor-root {
  padding: 0 1rem;
  min-height: 200px;
  border: dashed 2px $lightGray;
  border-radius: 4px;
}

.job-description-container {
  position: relative;
  min-height: 200px;
}

.job-description {
  color: $darkText;
  margin-top: 1em;
  padding: 0;
}

.see-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  margin: 0;
}

.see-more .fade-white {
  min-height: 60px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white);
}

@media screen and (min-width: 900px) {
  .job-description {
    padding: 0 2em;
  }

  .see-more {
    display: none;
  }
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1.5em 0;
}

.grid-2,
.grid-x-2,
.grid-3-x-x,
.grid-x-3-x,
.grid-3,
.grid-4,
.grid-2-3,
.grid-5-3,
.grid-3-5,
.grid-3-5-3,
.grid-5,
.grid-1-3,
.grid-6-1,
.grid-frontpage {
  grid-template-columns: 1fr;
  grid-gap: 1.5em 0;
}

@media screen and (min-width: 900px) {

  /* swap grid order to alternate images */
  .swap-order {
    order: 2;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-x-2 {
    grid-template-columns: auto 1fr;
    grid-gap: 1.5em;
  }

  .grid-x-3-x {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1.5em;
  }

  .grid-3-x-x {
    grid-template-columns: 1fr auto auto;
    grid-gap: 1.5em;
  }

  .grid-2-x {
    grid-template-columns: 1fr auto;
    grid-gap: 1.5em;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-1-3 {
    grid-template-columns: 1fr 3fr;
    grid-gap: 1.5em;
  }

  .grid-2-3 {
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5em;
  }

  .grid-5-3 {
    grid-template-columns: 5fr 3fr;
    grid-gap: 1.5em;
  }

  .grid-3-5 {
    grid-template-columns: 3fr 5fr;
    grid-gap: 1.5em;
  }

  .grid-3-5-3 {
    grid-template-columns: 2fr 5fr 2fr;
    grid-gap: 2em;
  }

  .grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-6-1 {
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5em;
  }

  .grid-frontpage {
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto 1fr;
    grid-gap: 1.5em;
  }
}

/* Hero */
.hero-grid {
  display: grid;
  gap: 1.5em;
  text-align: center;
  padding-top: 80px;
}

.lead {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.highlight {
  background: $primaryHighlight;
  border-radius: 7px;
  display: inline-block;
  padding: 3px 7px;
}

.hero-pic {
  height: 160px;
}

@media screen and (min-width: 992px) {
  .hero-grid {
    grid-template-columns: 5fr 3fr;

    // margin: 3em 0;
    padding-top: 80px;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 1.5em;
  }

  .hero-pic {
    padding: 0 1.5em;
    height: 300px;
  }
}


/* Start statistics */

.box {
  // background-color: #313348;
  // padding: 15px;
  overflow: hidden;
}

.box>i {
  float: left;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}


.blue {
  background: $primaryLight;
}

.green {
  background: $green;
}

.red {
  background: $red;
}

.box .info {
  width: auto;
  padding-left: 74px;

  h3 {
    margin: 5px 0 0;
    display: inline-block;
  }

  p {
    color: $lighterText;
    margin-bottom: 0;
  }
}

// 
// JOIN NOW
// 


.icon-large {
  font-size: 3rem;
}

.tool-grid {
  text-align: center;
  // padding: 20px 0;

  grid-template-columns: 1fr 1fr;


  .tool-grid-item:nth-child(3) .icon-large {
    color: $green;
  }

  .tool-grid-item:nth-child(1) .icon-large {
    color: $red;
  }

  .tool-grid-item:nth-child(2) .icon-large {
    color: $purple;
  }



}

.quote {
  text-align: center;
}

@media screen and (min-width: 992px) {

  .tool-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .quote {
    text-align: right;
    border-right: solid 2px $lightGray;
    padding-right: 1.5rem;
  }
}

.logo-box {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}