@import 'variables.scss';

.content-card img {
  max-width: 100%;
  // height: auto;
  vertical-align: bottom;
}

.content-card {
  // background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content-card aside {
  position: relative;
  text-align: center;
}

.content-card aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-card aside .button {
  background: $primaryLight;
  display: inline-block;
  position: absolute;
  top: 85%;
  right: 3%;
  width: 3.5625em;
  height: 3.5625em;
  border-radius: 3.5625em;
  line-height: 3em;
  text-align: center;

  color: $white;

  transition: all 200ms;
}

.content-card aside .button:hover {
  font-size: large;
}

.content-card aside .button .icon {
  vertical-align: middle;

  top: 5px;
  left: -5px;
}

.content-card article {
  padding: 2.5em 0 0;
}


.content-card article .title {
  font-size: 1.5rem;
}


.content-card article h2,
.content-card article h3 {
  margin: 0;
  font-weight: 300;
}

.content-card article h2 {
  font-size: 1.75em;
  color: #222222;
}

.content-card article h3 {
  font-size: 0.9375em;
  color: #838689;
}


.content-card article .category {
  font-size: small;
  color: $lighterText;
  border-top: solid 1px $lightGray;
  border-bottom: solid 1px $lightGray;
  padding: 3px 0 4px 0;
}

.content-card article p {
  margin: 1.25em 0 0;
  font-size: 0.8125em;
  font-weight: 400;
  color: #222222;
}

.content-card article p span {
  font-weight: 700;
  color: #000000;
}